<div ng-controller="CitiesController" ng-init="init()">
    <h1>Postal Codes</h1>

    <form name="searchForm" role="form" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="name">City Name</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="name" name="name" ng-model="searchCity.name">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-md active" ng-disabled="!(searchCity.name)" ng-click="search()" >Search</button>
                <button class="btn btn-warning btn-md active" ng-click="clearSearch()">Clear</button>
            </div>

            <label class="control-label col-md-2" for="pageSize">Items per page</label>
            <div class="col-md-1">
                <select class="form-control" id="pageSize" name="pageSize"
                        ng-model="itemsPerPage" ng-options="option for option in itemsPerPageOptions" ng-change="refresh()"></select>
            </div>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <th>Postal Code</th>
            <th>City</th>
            <th>County</th>
            <th>State Code</th>
            <th>Map</th>
        </thead>
        <tbody>
        <tr ng-repeat="city in pagedCities.content">
            <td width="15%">{{city.postalCode}}</td>
            <td width="30%">{{city.name}}</td>
            <td width="30%">{{city.county}}</td>
            <td width="10%">{{city.stateCode}}</td>
            <td width="15%">
                <a target="_blank" href="http://maps.google.com/maps/?q={{city.latitude}},{{city.longitude}}">
                    <span class="glyphicon glyphicon-map-marker"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="col-md-12 text-center center-block">
        <p>Displaying items <strong>{{firstItemIndex}}</strong> through <strong>{{lastItemIndex}}</strong> of <strong>{{pagedCities.page.totalElements}}</strong></p>
    </div>
    <div class="col-md-12 text-center center-block">
        <pagination ng-model="pageNumber" ng-change="refresh()"
                    total-items="pagedCities.page.totalElements" items-per-page="pagedCities.page.size"
                    boundary-links="true" max-size="maxPageLinks"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>

